{
  "printWidth": 130,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "requirePragma": false,
  "proseWrap": "preserve"
}